{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ customer.username }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ customer.age }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ customer.country }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('customer_edit', { 'id': customer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
